dist-newstyle
src/.DS_Store
.ghc.environment.x86_64-darwin-8.5.20180118
dist
.ghc.environment.x86_64-darwin-8.4.3
backend-result
frontend-result
dist-ghcjs
ghc-frontend-result/
ghc-frontend-result
.ghc.environment.x86_64-darwin-8.4.4
dist-newstyle
result
result-android
result-ios
result-exe
.attr-cache
ghcid-output.txt
