body {
  background: #eaeaea url('bg.png');
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #03a9f4;
}

th {
    border-bottom-color: #9E9E9E;
    border-bottom-width: 2px;
}
span#code-highlight {
    background-color: #cccbcb;
    padding-left: 5px;
    padding-right: 5px;
}

input {
    background-color: white;
    width: 90%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.errormessage {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #F44336;
}

table, th, td {
  border: 2px solid #9E9E9E;
  border-collapse: collapse;
  padding: 5px;
  background-color: antiquewhite;
}

.output {
  padding: 10px;
}

.expression {
  padding: 10px;
}

.truthtable {
  padding: 10px;
}

.call {
  border-width: 1px;

  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  /* background-color: gainsboro; */

  display: flex;
}

.cross {
  border-width: 1px;

  border-top-style: solid;
  border-right-style: solid;

  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 0px;

  margin-left: 1px;

  /* background-color: cornflowerblue; */

  display: inline-block;
}

.unmarked {
  border-width: 1px;

  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 0px;

  height: 20px;
  width: 20px;

  /* background-color: violet; */
}

.var {
  border-width: 1px;

  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 0px;

  height: 20px;
  width: 20px;

  /* font-family: 'Raleway', sans-serif; */
  /* font-size: 7px; */

  /* background-color: aqua; */
}

.consequence {
  display: inline-flex;
  min-width: 500px;
}
